{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>

    <ul>
   

        <li><a href="/home" class="active">Home</a></li>
        <li><a href="/teach">Administration</a></li>
        <li><a href="/dept">Departments</a></li>

        <li><a href="/stud">Students</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact Us</a></li>

      </ul>
      <div class="container-fluid bg-blue text-center">
        <h2>UNIVERSITY COLLEGE OF ENGINEERING</h2>
        <h4>MUTTOM THODUPUZHA IDUKKI</h4>
    </div>
</body>
</html>