{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="{% static 'css/login2.css' %}">
    <style>
        .background:hover{
            opacity: 1;
        }
    </style>

</head>

<body>
    <div class="background">
        
    </div>
    <div class="one">

   
    <h1>UNIVERSITY COLLEGE OF ENGINEERING</h1>
    <h2>THODUPUZHA IDUKKI</h2>
    <a href='home'>Get More Details</a>
    
    <!-- <h3>Students</h3>
    <table style="width: 100%;">
        <tr>
            <th>Firstname</th>
            <th>Middlename</th>

            <th>Lastname</th>
            <th>Mobile Number</th>
        </tr>
        {% for i in students %}

        <tr>
            <td>{{ i.firstname }}</ld>
            <td>{{ i.middlename }}</td>
            <td>{{ i.lastname }}</td>
            <td>{{ i.mobile }}</td>
            {% endfor %}
        </tr>

   
    </table>
    <h3>Teachers</h3>
    <table style="width: 100%;">
        <tr>
            <th>Firstname</th>
            <th>Middlename</th>
            <th>Lastname</th>
            <th>Mobile Number</th>

        </tr>
        
        {% for i in teachers %}
        <tr>
            <td>{{ i.firstname }}</td>
            <td>{{ i.middlename }}</td>
            <td>{{ i.lastname }}</td>
            <td>{{ i.mobile }}</td>
        </tr>
        {% endfor %}
    </table> -->
</div>

</body>
</html>
